@use "./variables" as v;

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20rem;
  background-color: v.$black;

  .img-container {
    width: min-content;
    padding: 0.5em;
    background-color: v.$black--light;
    border-radius: 50%;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }

  .socials {
    text-align: center;
    padding-top: 0.5em;

    i {
      color: v.$white;
      padding: 0.75em;
      margin: 0 0.15em;
      background-color: v.$black--light;
      border-radius: 50%;
      cursor: pointer;
      transition: v.$fast-transition;

      &:hover {
        color: v.$black;
        background-color: v.$color-secondary;
      }
    }
  }
}

.main {
  margin-left: 20rem;
  overflow-y: auto;

  .hero {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.65)
      ),
      url(../img/banner-image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

.about {
  .contents {
    img {
      width: 25rem;
      height: 25rem;
    }
  }

  .skills {
    background-color: v.$color-tertiary--light;
    margin: 0 -1em;
    padding: 3em 1em;

    .total {
      height: 10px;
      background-color: #0c3b423a;
      border-radius: 5px;

      .progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        border-radius: 5px;
        background-color: v.$color-tertiary;
        transition: v.$fast-transition;
      }
    }
  }
}

.resume {
  &-card {
    border-left: 2px solid v.$color-tertiary;
  }
}
