@use "./variables" as v;

.side-nav h1 {
  color: v.$white;
  font-size: 2rem;
}

.nav {
  a {
    margin: 0.75em 0;
    font-size: 1.15rem;
    text-decoration: none;

    span {
      color: v.$gray-2;
      transition: v.$fast-transition;
    }

    i {
      color: v.$gray-2;
      transition: v.$fast-transition;
    }

    &:hover,
    &.active {
      span {
        color: v.$white;
      }

      i {
        color: v.$color-secondary;
      }
    }
  }
}

.text-hero {
  margin-left: 10em;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: v.$white;

  h1 {
    display: block;
    font-style: italic;
    font-size: 3.2rem;
  }

  h2 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 2.5rem;
    color: v.$gray-3;
  }

  p {
    font-size: 1.8rem;
    margin-top: 0.65em;
    color: v.$gray-3;

    .dynamic-type {
      padding-bottom: 0.5em;
      border-bottom: 3px solid v.$color-secondary;
    }
  }
}

.section-heading {
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
  color: v.$color-primary;
  margin-bottom: 1.5em;

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 3px;
    width: 3rem;
    background-color: v.$color-tertiary;
  }
}

.content-heading {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: v.$color-primary;
  margin-bottom: 1em;
}

.detail {
  i {
    color: v.$color-tertiary;
  }
}

.fact-card {
  i {
    font-size: 2.5rem;
    color: v.$color-tertiary;
  }
}

.resume-card .content-heading {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -36px;
    height: 24px;
    width: 24px;
    border: 2px solid v.$color-tertiary;
    border-radius: 50%;
    background-color: white;
  }
}

.resume-card .time {
  padding: 0.25em 1em;
  background-color: #e9c56aaf;
}

.resume-card li {
  margin: 0.75em 0;
}
