$color-primary: #264653;
$color-secondary: #e9c46a;
$color-tertiary: #25c2db;

$black: rgba(0, 0, 0, 0.9);
$white: rgb(245, 245, 245);

$gray-1: rgb(130, 130, 130);
$gray-2: rgb(180, 180, 180);
$gray-3: rgb(225, 225, 225);

$slow-transition: all 450ms ease-in-out;
$fast-transition: all 200ms ease-in-out;
