$color-primary: #264653;
$color-secondary: #e9c46a;
$color-tertiary: #25c2db;
$color-tertiary--light: #25c3db10;

$black: rgb(17, 17, 17);
$black--light: rgb(40, 40, 40);
$white: rgb(245, 245, 245);

$gray-1: rgb(130, 130, 130);
$gray-2: rgb(180, 180, 180);
$gray-3: rgb(215, 215, 215);

$slow-transition: all 450ms ease-in-out;
$fast-transition: all 200ms ease-in-out;
