* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

p,
span,
a,
button,
li,
input,
textarea,
label {
  font-family: "Roboto", sans-serif;
}

.center--block {
  display: block;
  margin: 0 auto;
}

.sections {
  padding: 3em 1em;
}

.side-nav h1 {
  color: rgb(245, 245, 245);
  font-size: 2rem;
}

.nav a {
  margin: 0.75em 0;
  font-size: 1.15rem;
  text-decoration: none;
}
.nav a span {
  color: rgb(180, 180, 180);
  transition: all 200ms ease-in-out;
}
.nav a i {
  color: rgb(180, 180, 180);
  transition: all 200ms ease-in-out;
}
.nav a:hover span, .nav a.active span {
  color: rgb(245, 245, 245);
}
.nav a:hover i, .nav a.active i {
  color: #e9c46a;
}

.text-hero {
  margin-left: 10em;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(245, 245, 245);
}
.text-hero h1 {
  display: block;
  font-style: italic;
  font-size: 3.2rem;
}
.text-hero h2 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 2.5rem;
  color: rgb(215, 215, 215);
}
.text-hero p {
  font-size: 1.8rem;
  margin-top: 0.65em;
  color: rgb(215, 215, 215);
}
.text-hero p .dynamic-type {
  padding-bottom: 0.5em;
  border-bottom: 3px solid #e9c46a;
}

.section-heading {
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
  color: #264653;
  margin-bottom: 1.5em;
}
.section-heading::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 3px;
  width: 3rem;
  background-color: #25c2db;
}

.content-heading {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: #264653;
  margin-bottom: 1em;
}

.detail i {
  color: #25c2db;
}

.fact-card i {
  font-size: 2.5rem;
  color: #25c2db;
}

.resume-card .content-heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  height: 24px;
  width: 24px;
  border: 2px solid #25c2db;
  border-radius: 50%;
  background-color: white;
}

.resume-card .time {
  padding: 0.25em 1em;
  background-color: rgba(233, 197, 106, 0.6862745098);
}

.resume-card li {
  margin: 0.75em 0;
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20rem;
  background-color: rgb(17, 17, 17);
}
.side-nav .img-container {
  width: min-content;
  padding: 0.5em;
  background-color: rgb(40, 40, 40);
  border-radius: 50%;
}
.side-nav .img-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.side-nav .socials {
  text-align: center;
  padding-top: 0.5em;
}
.side-nav .socials i {
  color: rgb(245, 245, 245);
  padding: 0.75em;
  margin: 0 0.15em;
  background-color: rgb(40, 40, 40);
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.side-nav .socials i:hover {
  color: rgb(17, 17, 17);
  background-color: #e9c46a;
}

.main {
  margin-left: 20rem;
  overflow-y: auto;
}
.main .hero {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.65)), url(../img/banner-image.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about .contents img {
  width: 25rem;
  height: 25rem;
}
.about .skills {
  background-color: rgba(37, 195, 219, 0.062745098);
  margin: 0 -1em;
  padding: 3em 1em;
}
.about .skills .total {
  height: 10px;
  background-color: rgba(12, 59, 66, 0.2274509804);
  border-radius: 5px;
}
.about .skills .total .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  border-radius: 5px;
  background-color: #25c2db;
  transition: all 200ms ease-in-out;
}

.resume-card {
  border-left: 2px solid #25c2db;
}

.portfolio {
  padding: 3em 1em;
  background-color: rgba(37, 195, 219, 0.062745098);
}
.portfolio-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}
.portfolio-grid .grid-item {
  max-width: 100%;
  position: relative;
  overflow-y: hidden;
}
.portfolio-grid .grid-item .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 0.5em;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  transform: translateY(2rem);
  opacity: 0;
  transition: all 350ms ease-in-out;
}
.portfolio-grid .grid-item .overlay-link {
  flex: 1;
  background-color: #264653;
  color: rgb(245, 245, 245);
  padding: 1em 0;
  text-align: center;
}
.portfolio-grid .grid-item img {
  max-width: 100%;
  height: 100%;
}
.portfolio-grid .grid-item:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
